<div class="container">
    <div>
     <img src="https://static.vecteezy.com/system/resources/previews/000/433/251/original/boy-and-girl-with-books-vector.jpg" style="width:500px;height:600px;float:left;margin-top:60px;border-radius: 10px;box-shadow: 1px 5px 10px grey;">
    </div>
    <div   class="Card" >
        <h2 style="float:right;color:aliceblue;padding-top: 150px;padding-right:300px;font-size:30px;" class="text-center">Welcome to EV Library..!!!<br><br></h2>
        <h5 style="color:white;font-size:20px;float:right;padding-top:10px;padding-right:100px;" ><ul>
               <li>Read and feed the knowledge to your brain.</li><br>
               <li>This is where you should start building up your knowledge.</li><br> 
               <li>The treasure of words</li> <br>
               <li>The oxygen of book lovers</li><br>
               <li>Readline makes you sharp.</li><br>
               <li>This is where you should start building up your knowledge.</li>
           <br>
        </ul>
    </h5>
    </div>
</div>