/* You can add global styles to this file, and also import other style files */
body{
    background-repeat: none;
    background-size: cover;
   height:100%;
   width:100%;
    background-image: url('https://images.alphacoders.com/112/112121.jpg');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
